.sbli a:link {
  font-family: 'Exo 2', sans-serif !important;
  color: white;
  padding: 0.8em;
  overflow: hidden;
  display: block;
  text-decoration: none; 
}

/* visited link */
.sbli a:visited {
    color: white;
}

/* mouse over link */
.sbli a:hover {
    color: white;
}

/* selected link */
.sbli a:active {
    color: white;
}

.sbli {
	float: left;
}