

/* rt-tbody .rt-td .rt-th .rt-tr rt-thead*/
#variacao_select{

}


.reacttable {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse;
}
 .reacttable .rt-th,.reacttable .rt-td {
        padding: .75rem;
        vertical-align: top;
        border-top: 1px solid black;
 }

 .rt-th {
     text-align: inherit;
 }

.rt-thead .rt-th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.rt-tbody  + .rt-tbody  {
    border-top: 2px solid #dee2e6;
}

.table {
    background-color: whitesmoke;
}

