

#my_list{
	max-width: 85%;
}


#new_row{
	display: block;
	align-items: center;
	margin-bottom: 12px;
	height:  49px;
	min-width: 450px;
}
/*
#new_row:hover{

	background:  rgb(215,215,210);
}*/

#new_row li {
	list-style-type: none;
	border: 1px outset black;
	margin-bottom: -5px;
	display: inline-table;
	height: 100%;
	text-align: center;
	box-shadow: 1px 1px 1px rgba(0,10,0,.2);
	vertical-align: bottom;
	position: relative;
}

#new_row li:hover {
	background: rgb(210,210,210);
}


img {
	width: 50px;
	height: 48px;
	position:  absolute;
	top: 0px;
	bottom: 0px;
	z-index: 999;
	border: 1px outset gray ;
	box-shadow: 1px 1px 1px rgba(1,10,0,.2);
	left: 0px;
	right: 0px;
}

#row_image{
	margin-right: 1px;
	vertical-align: bottom;
	top: 1px;
	bottom: 0px;
	width: 50px;
	position: relative;
}

#row_name{
	margin-right: 1%;
	min-width: 32%;
	max-width: 50%;
}

#row_variation{
	min-width: 15%;
	margin-right: 1px;
}

#row_selling_price{
	min-width: 19%;
	max-width: 25%;
	margin-right: 1px;
}

#row_buying_price{
	min-width: 19%;
	max-width: 25%;
}

.table_div{
	width: 100%;
	min-width: 495px;
}

.table{
	position: relative;
	left: 50px;
	width: 85%;
}



.name-header{
	align-content: center;
	min-width: 32%;
	max-width: 50%;
	height: 100%;

}

.variation-header{
	align-content: center;
	min-width: 15%;
	height: 100%;
	position: relative;
	left: -3%;
}

.buyprice-header{
	align-content: center;
	min-width: 19%;
	position: relative;
	left: -11%;

}
.sellprice-header{
	align-content: center;
	min-width: 19%;
	position: relative;
	left: -7%;
}

/*
.table th{
	border:  2px outset black;
}*/

.table tr{
	min-width: 495px;
}

.searchbar{
    padding-bottom: 40px;
    position: relative;
    top: 20px;
    left: 10%;

}


@media (max-width: 700px)  {

.name-header{
	align-content: center;
	width: 151px;
	height: 100%;
	position: relative;
	left: 30px;
}

.variation-header{
	align-content: center;
	width: 82px;
	height: 100%;
	position: relative;
	left: 6%;
}

.buyprice-header{
	align-content: center;
	width: 90px;
	position: relative;
	left: 4%;

}

.sellprice-header{
	align-content: center;
	width: 90px;
	position: relative;
	left: 4%;
}

}